.box{:align=>:center, :id=>:header} 
   %h1 Whiskee Tango
.box{:align=>:center}
   %ul{:id=>:nav}
      %li #{link_to 'Garbage', '/'} | #{link_to 'More Garbage', '/'}
%hr{:style=>"width:75%"}
.box{:align=>:right} Author: Luke Campbell 
