  body, html {
    background-color: #FFF;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    color: #000; 
  }
  table{
    padding: 5px;
  }
  th{
    text-align: left;
    width: 200px;
    word-wrap: break-word;
  }
  td{
    width: 525px;
    word-wrap: break-word;
  }
  img{
    border: none;
  }
  .box{
    background: #FFF71C;
    margin: 1em auto 0 auto;
    width: 250px;
    padding: 0.2em 2em;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #666;
    color: #000;
  }
  .button {
      background: #444;
      margin: 1em auto 0 auto;
      padding: 0.2em 2em;
      -moz-border-radius: 2px;
      -khtml-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      border: 1px solid #666;
      color: #FFF;
   }

  .error, .fail{
    color: #ff0000;
  }
  .pass{
    color: #00FF00;
  }
  .warning{
    border-color: #ff3413;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-width: 1px;
    border-style: solid;
  }
  a{
    color: #B87C39;
    text-decoration: none;
  }
  a:hover {
    color: #000;
    font-weight:bold;
  }
  hr {
   color: #000;
   background-color: #000;
   height: 1px;  
   border: 0;
  }
  h1, h2 {
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }
  div.footer {
    font-size: 70%;
  }
  h1 {
    color: #000;
    font-size: 18px;
    padding-bottom: 7px;
  }
  h2 {
    color: #FFF;
    font-size: 14px;
  }
  #nav {
    height: 30px;
    padding: 0;
    margin: 0;
    list-style-image: none;
    list-style-type: none;
  }
  #header li {
    float: left;
    margin: 0 0.5em;
  }
  #header li a{
    float: left;
    display: block;
    text-decoration: none;
    height: 15px;
    color: #666;
  }
  #nav .current{
    color: #FFF;
  }
  .center {
    text-align: center;
  }
  .mbt-textarea {
    padding:0;
    margin:0;
    width:600px;
    height:200px;
    color:#FFF;
    font:12px arial;
    background:#1C1C1C;
    border:1px dotted #FFF; }
    .mbt-textarea:hover {
    color:#CCCCCC;
    border:2px solid #FFF; }
    .mbt {
    padding-top:3px;
    margin:0;
    color:#289728;
    font-size: 9px;
    font-family: sans-serif, verdana;
    }

    .purr {
       position: fixed;
       top: 30px;
       right: 100px;
       width: 250px;
       padding: 20px;
       background-color: #FCC;
       border: solid 2px #C66;
     }
