  body, html {
    background-color: #1C1C1C;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    color: #CCC; 
  }
  table{
    padding: 5px;
  }
  th{
    text-align: left;
    width: 200px;
    word-wrap: break-word;
  }
  td{
    width: 525px;
    word-wrap: break-word;
  }
  img{
    border: none;
  }
  .box{
    background: #333;
    margin: 1em auto 0 auto;
    width: 750px;
    padding: 0.2em 2em;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #666;
    color: #FFF;
  }
  .button {
      background: #444;
      margin: 1em auto 0 auto;
      padding: 0.2em 2em;
      -moz-border-radius: 8px;
      -khtml-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      border: 1px solid #666;
      color: #FFF;
   }

.menu a {float:left; color:#eee; text-decoration:none; width:120px; height:28px; padding-top:8px}
.menu span {float:left; color:#eee; text-decoration:none; width:120px; height:28px; padding-top:8px}
.menu a:hover {color:#fff}
.menu {list-style:none; font:16px Arial,Verdana; text-align:center; width:600px; margin:0 auto}
.menu li {position:relative; float:left; width:120px; z-index:1000}
.menu ul {display:none; position:absolute; font:normal 13px Arial,Verdana; top:36px; left:0; background:#aaa; display:none; list-style:none}
.menu ul li {float:none; border-top:1px solid #ccc; width:120px}
.menu ul li a, li.menuhover li a, li.menuhover li.menuhover li a {float:none; display:block; background:none; height:22px; padding-top:5px}
.menu ul li a:hover, li.menuhover li a:hover, li.menuhover li.menuhover li a:hover {background:#999; color:#fff}
.menu ul li span, li.menuhover li span, li.menuhover li.menuhover li span {float:none; display:block; background:none; height:22px; padding-top:5px}
.menu ul ul {left:120px; top:0}
.menu li.submenu {font-weight:bold}
.menu li.noborder {border-top:none}
li.menuhover a, li.menuhover li.menuhover a {color:#fff; background:#999}
li.menuhover span, li.menuhover li.menuhover span {color:#fff; background:#999}
#info {width:180px; background:#eee}
#info li {width:160px; border-top:none; padding:8px 10px; color:#666; text-shadow:1px 1px #fff; text-align:left}
  .error, .fail{
    color: #ff0000;
  }
  .pass{
    color: #00FF00;
  }
  .warning{
    border-color: #ff3413;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-width: 1px;
    border-style: solid;
  }
  a{
    color: #FFF;
    text-decoration: none;
  }
  a:hover {
    color: #CCC;
  }
  h1, h2 {
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }
  div.footer {
    font-size: 70%;
  }
  h1 {
    color: #FFF;
    font-size: 18px;
    padding-bottom: 7px;
  }
  h2 {
    color: #FFF;
    font-size: 14px;
  }
  #nav {
    height: 30px;
    padding: 0;
    margin: 0;
    list-style-image: none;
    list-style-type: none;
  }
  #header li {
    float: left;
    margin: 0 0.5em;
  }
  #header li a{
    float: left;
    display: block;
    text-decoration: none;
    height: 15px;
    color: #666;
  }
  #nav .current{
    color: #FFF;
  }
  .center {
    text-align: center;
  }
  .mbt-textarea {
    padding:0;
    margin:0;
    width:600px;
    height:200px;
    color:#FFF;
    font:12px arial;
    background:#1C1C1C;
    border:1px dotted #FFF; }
    .mbt-textarea:hover {
    color:#CCCCCC;
    border:2px solid #FFF; }
    .mbt {
    padding-top:3px;
    margin:0;
    color:#289728;
    font-size: 9px;
    font-family: sans-serif, verdana;
    }

