- @stickies.each do |sticky|
   .box
      = best_in_place sticky, :text
      .close{:align=>:right}
         = link_to 'X', sticky, :confirm=>"Are you sure?", :method=>:delete
.box{:align=>:right}
   = link_to 'New Sticky (Advanced)', new_sticky_path
